<h3>Información del usurio</h3>
<hr>

<div class="row">
    <div class="col-4">
        <h3>Usuario actual: {{ userId() }}</h3>
        <div class="wrap-buttons">
            <button (click)="loadUser( userId() -1 )" class="btn btn-primary">Anterior</button>
            <button (click)="loadUser( userId() +1 )" class="btn btn-primary">Siguiente</button>
        </div>
    </div>

    <div *ngIf="userWasFound()" class="col-8">
        <h4>Usuairo</h4>
        <p>Correo: {{ currentUser()?.email }}</p>
        <p>Nombre: {{ fullName() }}</p>

        <img 
            [src]="currentUser()?.avatar" 
            alt="Avatar"
            class="rounded">
    </div>

    <div *ngIf="!userWasFound()" class="col-8 text-danger">
        <h3>Usuario no encontrado</h3>
    </div>
</div>